body {
	margin: 20px 40px 0 40px; /*margin between first menu item and left browser edge*/
	padding: 0px;
	font-family: Lucida Grande,Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
	background-image: url(http://oosterbeek.economists.nl/hessel-small.png);
	background-repeat: no-repeat;
	background-position: 95% 150px; 
	}

#Content {
	min-height: 300px;
	margin-left: 20px;
	width: 600px;
	padding:20px;
	text-align: justify;
}

main {
	min-height: 300px;
	margin-left: 20px;
	width: 600px;
	padding:20px;
	text-align: justify;
}

*.Abstract {
	width: 600px;
	padding: 20px 0 0 0;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: dotted;
	border-color: #2463AB;
}

a:link {color:#2463AB;}
a:visited {color:#2463AB;}

ul li {
    margin: 0.5em 0;
    }


/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.container {
padding: 0;
width: 100%;
border-top: 5px solid #2463AB; /*Highlight red color theme*/
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.container ul{
margin:0;
margin-left: 40px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.container li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.container a{
float: left;
display: block;
font: bold 12px Arial;
color: black;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 5px 10px; /*Padding within each menu item*/
background-color: lightgrey; /*Default menu color*/
border-bottom: 8px solid white;
}

.container a:hover{
background-color: #2463AB; /*Highlight red color theme*/
padding-top: 10px; /*Set padding-top value to default's padding-top + padding-bottom */
padding-bottom: 0; /*Set padding-bottom value to 0 */
border-bottom-color: #2463AB; /*Highlight red color theme*/
color: white;
}

.container .current a{ /** currently selected menu item **/
background-color: #2463AB; /*Highlight red color theme*/
padding-top: 10px; /*Set padding-top value to default's padding-top + padding-bottom */
padding-bottom: 0; /*Set padding-bottom value to 0 */
border-bottom-color: #2463AB; /*Highlight red color theme*/
color: white;
}


.shiftcontainer{
position: relative;
left: 5px; /*Number should match -left shadow depth below*/
top: 5px; /*Number should match -top shadow depth below*/
}

.shadowcontainer{
width: 300px; /* container width*/
background-color: #d1cfd0;
}

.shadowcontainer .innerdiv{
/* Add container height here if desired */
background-color: white;
border: 1px solid gray;
padding: 6px;
position: relative;
left: -5px; /*shadow depth*/
top: -5px; /*shadow depth*/
}

