---
layout: default
---

<h2>{{ page.title }}</h2>

<p>
	Published in:
	{% if page.type == "article" %}
		<i>
		{{page.journal}}
		{% if page.volume != empty %}
			{{page.volume}}
		{% endif %}
		</i>
		{% if page.number != empty %}
			({{page.number}}).
		{% endif %}
			({{page.year}}).
		{% if page.pages != empty %}
		 {{page.pages}}.
		{% endif %}
	{% endif %}
	{% if page.type == "incollection" %}
		In: {{page.editor}}, eds. <i>{{page.booktitle}}</i>. {{page.publisher}}. ({{page.year}}). 
	{% endif %}
	{% if page.authors != site.name %}
		{% assign and_name = site.name | append: ' and' %}
		{% assign name_and = 'and ' | append : site.name %}
		({{ post.authors | strip_newlines | remove: name_and | remove: and_name | prepend: 'with ' }})
	{% endif %}
</p>

<p>{{ page.abstract }}</p>


<p><a href="{{ page.pdf }}">I want to read this! (PDF)</a></p>
